<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="styles/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="camp2020/main.css">
  <title>Camp 2020</title>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Connecting with Code</h1>
      <h2>Rose-Hulman Summer Programming Camp</h2>
      <h4>2020 Video Archive</h4>
    </div>
  </div>
  <div class="container">
  
    <h4>The 2020 CWC camp videos are still available below even if you did not join during the 2020 camp dates. You will
      just have to make an account on Tynker.com for the week 1 material and an account on Tinkercad.com for week 2
      material. You can still work the same material, just like students did in the summer of 2020.</h4>
    <h3>This page is just a video archive of the past.</h3>
    <br>
    <!-- <p>If you registered for this camp you should have gotten an email with your Tynker login info. If you <b>don't</b>
      have
      Tynker login info you can still follow along with the information below.</p>
    <br><br>
    <h4>Zoom "Office Hours" info</h4>
    <p>Office hours are available Monday - Friday on every camp day (May 18-22, 2020 and May 25-29, 2020). During the time
      slots listed below, you can join a Zoom meeting to get CWC help from a Rose-Hulman student! Click the link below and
      follow the Zoom instructions to join. Notice the Zoom password for all meetings is <b>cwc2020</b></p>
    <table id="office-hours-table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Time</th>
          <th>Join URL (You click these!)</th>
          <th>Meeting title</th>
          <th>Zoom Meeting ID</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">10am - 11am</th>
          <td><a target="_blank" href="https://zoom.us/j/91137462714?pwd=dUtncWhHOWpIWkhWM1N3N2ozbUwydz09">Click here to
              join</a></td>
          <td>CWC 10am Office Hours</td>
          <td>911-3746-2714</td>
          <td>cwc2020</td>
        </tr>
        <tr>
          <th scope="row">1pm - 2pm</th>
          <td><a target="_blank" href="https://zoom.us/j/97097545757?pwd=V1BDSGd2ZnVtRFRFaDhYOVNzYWRvQT09">Click here to
              join</a></td>
          <td>CWC 1pm Office Hours</td>
          <td>970-9754-5757</td>
          <td>cwc2020</td>
        </tr>
        <tr>
          <th scope="row">6pm - 7pm</th>
          <td><a target="_blank" href="https://zoom.us/j/95952856924?pwd=WnNFMWoyaWVUd3FoSnpjazlQc2pPdz09">Click here to
              join</a></td>
          <td>CWC 6pm Office Hours</td>
          <td>959-5285-6924</td>
          <td>cwc2020</td>
        </tr>
        <tr>
          <th scope="row">7:15pm - 8:15pm</th>
          <td><a target="_blank" href="https://zoom.us/j/93290898722?pwd=Nnkvd3JxdVl0a2pIRU1VcS8xZUtZQT09">Click here to
              join</a></td>
          <td>CWC 7:15pm Office Hours</td>
          <td>932-9089-8722</td>
          <td>cwc2020</td>
        </tr>
      </tbody>
    </table> -->
    <h4>Week 1 Tynker Camp videos</h4>
    <ul>
      <li>
        Click <a href="https://www.tynker.com/#/sign-in" target="_blank">this link</a> to create an account on Tynker.com
      </li>
      <li>
        Expand the appropriate row below to see that day's video and example projects.
      </li>
    </ul>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button">
              Tynker Camp Day 1: Monster Feast Variables - Monday
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p *ngIf="daysToShow<1" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=1" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Monster Feast</b> project together</li>
                <li>Completely optional! Build the <b>Score Keeper</b> project together (learning more about variables)
                </li>
              </ul>
              <p>Here are the videos for the day.</p>
              <h2>Main video - Day 1 Monster Feast</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lzZPPTuiZYM"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>Day 1 Optional *extra* coding exercise (if you want more): Score Keeper</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E-JNnFChAZo"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Monster Feast</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea058c67ea6b768295f5491&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use your mouse to guide the monster around, so he can eat all the
                cupcakes.
              </p>
              <h2>Score Keeper</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5e9f11031363f056b104c63f&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">This app is a way to keep score in some game that you like. For example
                Rock, Scissors, Paper. Obviously for your app you will use different names and keys.
                Press <b>d</b> to score a point for Dad (watch the green boxes when you press <b>d</b>). Press <b>b</b> to
                score a point for
                Bowen. 3 points an you win! Note to play again refresh the page or use the Play/Stop controls on the game
                window.</p>
              <p>We hope you enjoyed your first day of camp. Can't wait to see you again tomorrow! If you want to code
                more before then, go do a few levels on Tynker for something like Dragon Spells!</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
          aria-expanded="false" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" aria-controls="collapseTwo">
              Tynker Camp Day 2: Treasure Island Drawing - Tuesday
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p *ngIf="daysToShow<2" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=2" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Treasure Island</b> project together</li>
                <li>Encourage you to make a <b>Space Adventure</b> project on your own!</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7BrPpaDN_RY"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Treasure Island</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea32dc26773bd3b530c37a3&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the mouse to guide the ship to the treasure.
              </p>
              <h2>Space Adventure</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea3cc2cd8caed21f951c25f&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the mouse to guide the ship to the goal.</p>
              <p>We hope you enjoyed day 2 of camp! Can't wait to see you again tomorrow! Go do a level on Tynker!</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
          aria-expanded="false" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tynker Camp Day 3: aMAZEing Custom Images - Wednesday
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p *ngIf="daysToShow<3" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=3" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build our project called <b>aMAZEing game</b> together</li>
                <li>Encourage you to make fun additions to your project</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/63-RorBEV1Q"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>aMAZEing game</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea33afd366e64508530acea&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the arrow keys to get to the goal without hitting the enemy!
              </p>
              <h2>aMAZEing game with additional features (multiple levels)</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5eaae3de0fccec34a709f3d8&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the arrow keys to get to the goal without hitting the enemy!</p>
              <p>We hope you enjoyed day 3 of camp! Can't wait to see you again tomorrow!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
          aria-expanded="false" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tynker Camp Day 4: Race Car Functions - Thursday
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <p *ngIf="daysToShow<4" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=4" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Race Car</b> project together</li>
                <li>Encourage you to make a fun extra features to your Race Car game!</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HaUk_mSj9xE"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Race Car</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea5005668c55043a87726d7&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the left and right arrow keys to get around the track.
              </p>
              <h2>Race Car - Extra Feature Ideas</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea5013808fc6f275f2a8b26&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">Use the left and right arrow keys to get around the track for car 1. "a" and
                "d" for
                car 2. Also in my game you can use up and down arrow (or "e" and "d") to make perfect 90 degree turns.
                perfect 90 degree turns.</p>
              <p>We hope you enjoyed day 4 of camp! Can't wait to see you again tomorrow!</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
          aria-expanded="false" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tynker Camp Day 5: Dragon Crossing - Friday
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p *ngIf="daysToShow<5" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=5" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Dragon Crossing</b> project together</li>
                <li>Completely optional! Build the <b>US Flag</b> project together (learning more about functions)</li>
              </ul>
              <p>Here is the videos for the day.</p>
              <h2>Main video - Day 5 Dragon Crossing</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7F4-TJ7TgjY"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>Day 5 Optional *extra* coding exercise (if you want more): US Flag</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/alY8G3Tgpsk"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Dragon Crossing</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5eb2c7791adee979f424141b&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <h2>Optional Extra Exercise - US Flag</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5eb17292af44fe6af80c208e&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">No interactions this time, just view the drawing process.</p>
  
              <h2>Optional Extra Exercise - Younger Child's Flag</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="//www.tynker.com/ide/embedded?p=5ea49b4f44d02272f10bd7d4&controls=true&autostart=false"
                  allowfullscreen></iframe>
              </div>
              <p class="example-instructions">A perfectly acceptable flag for younger campers. They drew something and
                make
                rows of stars with functions.</p>
  
              <p>We hope you enjoyed our camp! We'd love to get feedback from you about our camp. Here is a Google Form
                where you can provide us with info if you have time. We'd appreciate it!</p>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <p>After you complete the camp please feel free to provide us with some feedback:</p>
    <h4>&nbsp;&nbsp;&nbsp;<a target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLScuAfJ_Ah0yg9riq3cMjPwc7hlymh4txG6qfRGYUbliwo3XTw/viewform">Click
        here to complete the feedback form</a></h4> -->
    <br><br>
    <h4>Week 2 Tinkercad Camp</h4>
    <ul>
      <li>
        Click <a href="https://www.tynker.com/#/sign-in" target="_blank">this link</a> to create an account on Tynker.com
      </li>
      <li>
        Click <a href="https://www.tinkercad.com" target="_blank">this link</a> to visit
        Tinkercad.com. Create a Person Account using your Google account or use Email+Password. If you use Email+Password
        use an <b>adult's</b> birthday
      </li>
      <li>
        Expand the appropriate row below to see that day's video and example projects.
      </li>
    </ul>
    <div class="panel-group" id="accordionTwo" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseSix"
          aria-expanded="false" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tinkercad Camp Day 1: 3D Drawing - Monday
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            <p *ngIf="daysToShow<6" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=6" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Work the Tinkercad <b>3D Tutorials</b> together</li>
                <li>Build the <b>Rocket</b> project together</li>
                <li>Build the <b>House</b> project together (which btw came from this <a
                    href="https://blog.tinkercad.com/build-a-tinkercad-house">blog post</a>)</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HS0Oh7P4SsY"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today. Note:
                These are interactive 3D models that you can rotate and zoom to view (fun but pointless).</p>
              <h2>Rocket</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/24zQrCzZHrb?editbtn=1" scrolling="no"></iframe>
              </div>
              <h2>Model House</h2>
  
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/iLJwafgSVxB?editbtn=1" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseSeven"
          aria-expanded="false" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tinkercad Camp Day 2: Circuits for LEDs and Pushbuttons - Tuesday
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <p *ngIf="daysToShow<7" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=7" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Completing the Tinkercad Circuit tutorials</li>
                <li>Building a good and bad LED circuit</li>
                <li>Building a stoplight (Traffic Light) using LEDs and a pushbutton</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zXmeJ45nTvU"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>My LED</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/8habr6CNjHo?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
              <p class="example-instructions">Start the simulation then turn on and off the good and bad circuits. Notice
                the bad one (on the right) has a icon over the LED that you can hover your mouse over.</p>
              <h2>My Stoplight</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/g7MqtQcyUmw?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
              <p class="example-instructions">Click <i>Start Simulation</i> above, then click on the black pushbutton.</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseEight"
          aria-expanded="false" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tinkercad Camp Day 3: Circuits with Text Based Coding - Wednesday
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body">
            <p *ngIf="daysToShow<8" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=8" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Learn about text based coding for: Functions, variables, if statements, and loops</li>
                <li>As an EXTRA *optional* exercise I made you 2 videos today. You can work the second video after you
                  finish the first one! (see details below)</li>
              </ul>
              <p>Here are the videos for the day.</p>
              <h2>Main video - Text Based programming for Functions, Variables, if statements, and loops</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L1cDAWntyPI"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>Day 3 Optional *extra* circuits video (if you want more): LCD and Servos</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uEERTiVaQGM"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Text Based programming for Functions, Variables, if statements, and loops</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/9eiIGLbjY53?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
              <p class="example-instructions">Click <i>Start Simulation</i> above, then rotate the knobs and try the
                switch.</p>
              <h2>Optional Extra Exercise - LCD and Servos</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/8yPNW79OzlT?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
              <p class="example-instructions">Click <i>Start Simulation</i> above, then rotate the top knob.</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseNine"
          aria-expanded="false" role="tab" id="headingNine">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tinkercad Camp Day 4: Circuits for Motors - Thursday
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body">
            <p *ngIf="daysToShow<9" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=9" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Circuit for Motors</b> project together on Tinkercad</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jar8rUOOz2E"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here is an example of a finished project that we are going to learn to build together today.</p>
              <h2>Circuits for Motors</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/frFk7IKfX1l?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTen"
          aria-expanded="false" role="tab" id="headingTen">
          <h4 class="panel-title">
            <a class="collapsed" role="button">
              Tinkercad Camp Day 5: Coding your own trophy! - Friday
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
          <div class="panel-body">
            <p *ngIf="daysToShow<10" class="hidden-message">
              Content intentionally <span onclick="$('.lesson-info').toggle();">hidden</span>. Check back on or after the
              date shown.
            </p>
            <div *ngIf="daysToShow>=10" class="lesson-info">
              <p>Today we'll work on these tasks:</p>
              <ul>
                <li>Build the <b>Rocket</b> project together, this time using Code Blocks</li>
                <li>Build the your <b>Trophy</b> for finishing this course!</li>
              </ul>
              <p>Here is the video for the day.</p>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BKSgkRkOMPo"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>And here are examples of the finished projects that we are going to learn to build together today.</p>
              <h2>Rocket</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/9BkTzJRFs1f?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
              <h2>Trophy</h2>
              <div class="daily-video embed-responsive embed-responsive-16by9">
                <iframe src="https://www.tinkercad.com/embed/bxixXaHOorl?editbtn=1" frameborder="0" marginwidth="0"
                  marginheight="0" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <p>After you complete the camp please feel free to provide us with some feedback:</p>
    <h4>&nbsp;&nbsp;&nbsp;<a target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLScuAfJ_Ah0yg9riq3cMjPwc7hlymh4txG6qfRGYUbliwo3XTw/viewform">Click
        here to complete the feedback form</a></h4>
  -->
    <br><br><br><br><br><br>
  
  
  </div>

</body>

</html>